# DB in Insforge Project
# HOST: 
# DATABASE: 
# USER: 
# PORT: 5432
# PASSWORD: 
# SSL: require

DATABASE_URL=""
AUTH_SECRET=""
BUS_TRACKING_DATA_FILE=".data/bus-tracking.json"

# GOOGLE CLOUD CONSOLE: 
# auth_uri": "https://accounts.google.com/o/oauth2/auth"
# token_uri": "https://oauth2.googleapis.com/token"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_CALLBACK_URI="https://"

# GOOGLE AGENT APIS: 
# https://console.cloud.google.com/agent-platform/studio/settings/
# ADC: bash <(curl -sSL https://storage.googleapis.com/cloud-samples-data/adc/setup_adc.sh
AGENT_API_KEY=""


# GOOGLE SHEETS API:
## sheetsmcp.googleapis.com 
## Service Account Email: sheets-sync@steam-strategy-509408-s7.iam.gserviceaccount.com
GOOGLE_SPREADSHEET_ID=""
GOOGLE_SHEETS_API_KEY= 
